2.http_connector/src/main/mule/2.http_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="Basics" doc:id="e8e8a741-2b95-4707-9a7b-56e8eb821dbe" >
		<http:listener doc:name="HTTP GET" doc:id="dbf92cb9-9545-4f5c-8a94-a864225df58c" config-ref="HTTP_Listener_config" path="/basics/*" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[vars.requestResponse]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Log START" doc:id="aed21b99-664a-488a-9773-8c9798f3ca93" message='#["log START - " ++ flow.name]'/>
		<set-payload value='#["this is the basic flow payload"]' doc:name="Set Payload" doc:id="865a15f1-4d03-4e81-88cb-bed0faae9e57" />
		<http:request method="GET" doc:name="Request" doc:id="3c9c596b-77e5-4bba-8174-491d8ebf8ceb" config-ref="HTTP_Request_configuration" path="/queryParams/" target="requestResponse">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"K2" : "V2",
	"k1" : "v1"
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="uriParams" doc:id="b1993414-31d7-46e5-9ba3-763e08ade91b" >
		<http:listener doc:name="HTTP GET" doc:id="cefce0e5-f6c2-42ad-9654-988fa2ddec5e" config-ref="HTTP_Listener_config" path="/uriParams/{ID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="log START" doc:id="77448deb-93b2-4f27-814b-e9abac8e089f" message='#["log START - " ++ flow.name]'/>
		<set-payload value='#[attributes.uriParams."ID"]' doc:name="Set Payload" doc:id="9c7b57a7-84fa-42f6-bd7c-e99b6f7d149c" />
	</flow>
	<flow name="queryParams" doc:id="a5c99cd4-de8d-4441-8e08-d9c2e139c400" >
		<http:listener doc:name="HTTP GET" doc:id="5b55fb5d-ebff-4cb6-8504-9f329bb3ab60" config-ref="HTTP_Listener_config" path="/queryParams/" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log START" doc:id="58531930-706b-4735-8ce6-cbe36f7c0ecf" message='#["log START -"++ flow.name]'/>
		<set-payload value="#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;attributes.queryParams]" doc:name="Set Payload" doc:id="497a52d6-b807-4f58-ba96-16a22137e089" />
	</flow>
</mule>
